
  <!-- Footer -->

  <footer class="white-section" id="footer">
    <div>
      <i class="fa-brands fa-twitter fa-2x iconCta"></i>
      <i class="fa-brands fa-facebook fa-2x iconCta "></i>
      <i class="fa-brands fa-instagram fa-2x iconCta"></i>
      <i class="fa-solid fa-envelope fa-2x iconCta"></i>
      <p>© Copyright 2022 TinDog</p>
    </div>



  </footer>
